<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ysg学习项目1</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>


<div id="app">
	{{msg + ' ' + showMsg}}
	<br>
	{{msg}} {{showMsg}}
	<br>
	<h2>{{url}}</h2>
	v-pre：<span v-pre>{{url}}</span>
	<br>
	<h2 v-html="url"></h2>

</div>

<script src="/js/vue.js"></script>
<script>
	const app = new Vue({
		el:'#app',
		data:{
			msg: 'study Vue demo1',
			showMsg : 'go to dome1',
			url:'<a href="www.baidu.com">百度一下</a>'
		}
	})
</script>


</body>
</html>